stages:
  - lint
  - build
  - docs
  - release
  - deploy

variables:
  DOCKERFILE: ${CI_PROJECT_DIR}/docker/web.Dockerfile
  RELEASE_REGISTRY: docker.io
  RELEASE_REGISTRY_IMAGE: index.docker.io/magentaaps/os2mo-naldo
  IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}

  PRODUCT: os2mo
  COMPONENT: naldo

# Conditions
#############
# Global Conditions
.if-tag: &if-tag
  if: "$CI_COMMIT_TAG"

.if-default-branch-refs: &if-default-branch-refs
  if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.if-merge-request: &if-merge-request
  if: "$CI_MERGE_REQUEST_IID"

include:
  - project: "labs/salt-automation"
    file:
      - gitlab-ci-templates/common/no-interrupt-meta.v1.yml
      - gitlab-ci-templates/common/conventional-commits.v1.yml
      - gitlab-ci-templates/common/conventional-commits-changelog.v1.yml
      - gitlab-ci-templates/common/docker-build-meta.v2.yml
      - gitlab-ci-templates/common/docker-release.v1.yml
      - gitlab-ci-templates/common/config-updater-salt.v1.yml
      - gitlab-ci-templates/common/config-updater-flux.v1.yml

# Workflow
###########
workflow:
  rules:
    - <<: *if-tag
    - <<: *if-default-branch-refs
    - <<: *if-merge-request

default:
  # All jobs are interruptible by default
  interruptible: true

Pre-commit:
  image: python:3.9
  stage: lint
  before_script:
    - pip install pre-commit
  script:
    - pre-commit run --all-files

Svelte-check:
  image: node:20
  stage: lint
  script:
    - cd web/
    - yarn
    - yarn run check

SvelteKit build:
  image: node:20
  stage: build
  script:
    - cd web/
    - yarn
    - yarn build

Build Naldo:
  extends:
    - .build-docker
  variables:
    BUILD_DOCKER_EXTRA_FLAGS: --build-arg=COMMIT_TAG=${CI_COMMIT_TAG}
