services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    environment:
      PUBLIC_BASE_URL: http://localhost:5000
      PUBLIC_DAR_ACCESS_ADDRESSES: "true"
      PUBLIC_SHOW_ADMIN_PANEL: "true"
      PUBLIC_SHOW_INSIGHTS: "true"
      PUBLIC_NAVLINKS: ' 
        [
          {
            "href": "https://www.os2mo.dk",
            "text": "Se ADM. org. grafisk"
          },
          {
            "href": "https://www.os2mo.dk",
            "text": "Se MED. org. grafisk"
          }
        ]
      '
      # user_key of primary class ("primary" is used, if not set)
      PUBLIC_PRIMARY_CLASS_USER_KEY: "primary"
      PUBLIC_SHOW_ROLEBINDINGS: "true"
      PUBLIC_INHERIT_MANAGER: "true"
      PUBLIC_SHOW_CPR_NUMBER: "true"
      PUBLIC_SHOW_KLE: "true"
      PUBLIC_SHOW_TIME_PLANNING: "true"
      PUBLIC_SHOW_ORG_UNIT_LEVEL: "true"
      PUBLIC_SHOW_PRIMARY_ENGAGEMENT: "true"
      PUBLIC_SHOW_PRIMARY_ASSOCIATION: "true"
      PUBLIC_SHOW_IT_ASSOCIATIONS_TAB: "true"
      PUBLIC_DISABLE_IT_USER_EDIT_FORM: "false"
      PUBLIC_SHOW_EMPLOYEE_BIRTHDAY_IN_SEARCH: "true"
      PUBLIC_SEARCH_INFINITY: "false"
      PUBLIC_DOCS_LINK: "true"
      PUBLIC_ONBOARDING_LINK: "true"
      # Specific for regions
      PUBLIC_SHOW_SD_CODE_IN_TREES: "false"
      PUBLIC_SHOW_JOB_FUNCTION_USER_KEY: "false"
      # Controls the display and data logic for 'extension_1' and 'job_function'.
      # Supported states:
      # "OFF":     Standard behavior. 'extension_1' is hidden. 'job_function' remains 
      #            as-is with the label "Job Function".
      #
      # "REPLACE": Value Replacement. The 'job_function' field displays the value of 
      #            'extension_1' instead of its own data. The field label remains 
      #            "Job Function".
      #
      # "ADD":     Label and Value Shift. The standard 'job_function' data is moved to 
      #            a field labeled "Job Code". The 'extension_1' value is then 
      #            placed into the field now labeled "Job Function".
      PUBLIC_EXTENSION_1_MODE: "ADD"
      # Department code
      PUBLIC_SHOW_EXTENSION_4: "false"
      PUBLIC_SHOW_ITUSER_CONNECTIONS: "true"
      PUBLIC_ENABLE_CONFEDERATIONS: "true"
      PUBLIC_ENABLE_CLASS_TERMINATION: "true"
      PUBLIC_SKATTESTYRELSEN_USERFLOW: "true"
      PUBLIC_SUBSTITUTE_ROLES: '["0f392525-f186-443e-bf76-5acd21205730","1fc28805-e28f-42b6-91bd-ae78bc11afc0","4469344f-31e0-4681-b7b5-a41b6c3d8a04","4fb252a1-e539-478f-8fac-b87e9573648c","5333b31f-3632-4528-ac40-899e3efcf139","74bb8124-50ca-4cc3-a662-83c7e84d0da8","87f4749e-e7b8-4400-83a8-4bde452719db","964019df-340e-434e-bfe8-767633eb98a0","a9a198ef-b068-4f05-bea3-32e2349d9b5a","ce36ad33-b3f1-4ce7-9075-ef1b52cc12d8","d282025c-9b84-496b-bcab-4adf412d3b01","d471fe3c-71c9-44c8-8c22-100689df05f0","d9387db2-4271-4497-a2ef-50edd6b068b1","e00c3317-d72c-493d-977a-ab9f1924b973"]'
      PUBLIC_ENABLE_SP: "false"
      PUBLIC_ENABLE_RSD_SEARCH: "false"
    ports:
      - "127.0.0.1:5173:5173"
      - "127.0.0.1:24678:24678" # hot module reloading
    volumes:
      - ./web/src:/app/src
      - ./web/.svelte-kit:/app/.svelte-kit
      - /src/app/node_modules
    restart: on-failure
